<div class="profile-badge">
  <div class="avatar">
    <img *ngIf="auth.userDetails?.photoURL; else defaultPhoto" [src]="auth.userDetails?.photoURL" alt="">
    <ng-template #defaultPhoto>
      <img src="/assets/images/account_circle.svg">
    </ng-template>
  </div>
  <div class="info">
    <span>
      <ng-container *ngIf="auth.userDetails?.displayName">Welcome,</ng-container>
      <ng-container *ngIf="!auth.userDetails?.displayName">Welcome!</ng-container>
    </span>
    <b *ngIf="auth.userDetails?.displayName">{{auth.userDetails?.displayName}}</b>
    <a (click)="auth.logout()">logout</a>
  </div>
</div>