<div class="calendar">
    <div class="dateheader">
    <div class="arrow" (click)="date = newDate(-1)">
      <</div>
        <div class="dateheadercontainer">
        {{months[displayMonth]}}
        <span class="year">{{displayYear}}</span>
    </div>
    <div class="arrow" (click)="date = newDate(1)">></div>
  </div>
  <div class="calendargrid">
    <div class="day" *ngFor="let day of days">{{getDayOfWeek(day)}}</div>
    <ng-container *ngFor="let date of monthgrid; let i = index">
      <div 
        class="date" 
        *ngIf="i > (firstDay - 1) && i < (lastDay + firstDay); else blank"
        [ngClass]="highlightedDay === i ? 'selected-date': null" 
        (click)="selectDate(i, $event)" 
        (mousedown)="selectDate(i, $event); createEventByDrag(i - (firstDay - 1), $event)"
        (mouseup)="endDaysByDrag(i - (firstDay - 1), null, $event)"
        (dblclick)="createEvent($event)">
        <div class="datenumber"
          [ngClass]="(i + 1) - firstDay === currentDay && this.displayMonth === this.currentMonth ? 'currentday': null">
          {{i - (firstDay - 1)}}</div>
          <div class="date-options-container">
            <div class="date-options">
              <ng-container *ngIf="displayCalendarEvents(i - (firstDay - 1)).length > 0; else noEvents">
                <div class="date-event-header">
                  {{displayMonth + 1}}/{{i - (firstDay - 1)}}/{{displayYear}}
                </div>
                <a class="date-event" *ngFor="let event of displayCalendarEvents(i - (firstDay - 1))"
                (click)="editEventDetails(event)">
                <div class="event-node" [style.background]="event.color"></div>
                <div class="event-name">
                  {{event.name}}
                </div>
              </a>
            </ng-container>
                <ng-template #noEvents>
                  <div class="date-event-header">
                    {{displayMonth + 1}}/{{i - (firstDay - 1)}}/{{displayYear}}
                  </div>
                  <div class="date-event">
                    No events
                  </div>
                </ng-template>
            <a class="add-event" (click)="createEvent($event)">Add Event</a>
          </div>
          </div>
          <div class="events-container">
            <a class="date-event" *ngFor="let event of displayCalendarEvents(i - (firstDay - 1))" (click)="endDaysByDrag(i - (firstDay - 1), event, $event)">
              <div class="event-node" [style.background]="event.color"></div>
              <div class="event-name">
                {{event.name}}
              </div>
            </a>
          </div>
      </div>
      <ng-template #blank>
        <div class="dateoutofrange"></div>
      </ng-template>
    </ng-container>
  </div>
  <div class="menu-button" (click)="menu = !menu">
    <i class="material-icons">{{menu ? 'close' : 'menu'}}</i>
  </div>
  <div class="menu" *ngIf="menu">
    <div class="menu-header">Settings</div>
    <div class="setting-group">
      <div class="setting-header">
        Widget Size
      </div>
      <div class="settings">
      <div class="size-block-group" (click)="widgetSize = 'grid-row-1'">
        <div class="size-block"></div>
        <div class="size-block --grayed-out"></div>
        <div class="size-block --grayed-out"></div>
      </div>
      <div class="size-block-group" (click)="widgetSize = 'grid-row-2'">
        <div class="size-block"></div>
        <div class="size-block"></div>
        <div class="size-block --grayed-out"></div>
      </div>
      <div class="size-block-group" (click)="widgetSize = 'grid-row-3'">
        <div class="size-block"></div>
        <div class="size-block"></div>
        <div class="size-block"></div>
      </div>
      </div>
    </div>
  </div>
  <app-calendar-details *ngIf="eventDetails" [eventDetails]="eventDetails" (cancelEventChanges)="eventDetails = null" (updateEventDetails)="updateEventDetails($event)"></app-calendar-details>
</div>